<div class="t-gallery-narrow">
  <header>
    {{ render '@skipnav' }}
    {{ render '@header' }}
  </header>
  {{ render '@breadcrumb' }}
  <main id="maincontent">
    <h1>CDL Program and Service Logos</h1>
    <p>{{ gallery_narrow.intro_paragraph }}</p>
    {{#each logo}}
      {{> @card--2 }}
    {{/each}}
  </main>
  {{ render '@footer' }}
</div>
