<div class="t-home js-home">
  <header>
    {{ render '@skipnav' }}
    {{ render '@header' }}
    {{ render '@banner' }}
    <div class="t-top-section">
      {{ render '@qlinks-header' }}
      {{ render '@quicklinks' }}
      {{ render '@qlinks-header--2' }}
      {{ render '@quicklinks--2' }}
      {{ render '@feature' }}
    </div>
    <div class="t-help-section">
      <h2 class="c-home-subheading">Help With&hellip;</h2>
      {{ render '@topicbox' }}
      {{ render '@topicbox--2' }}
      {{ render '@topicbox' }}
      {{ render '@topicbox--2' }}
    </div>
  </header>
  <main id="maincontent">
    <h2 id="all" class="c-home-subheading">About CDL</h2>
    {{ render '@topicbox--3' }}
    {{ render '@topicbox--3' }}
    {{ render '@topicbox--3' }}
    {{ render '@topicbox--3' }}
    <h2 class="c-home-subheading">Resources to Do Your Work</h2>
    {{ render '@topicbox--4' }}
    {{ render '@topicbox--4' }}
    {{ render '@topicbox--4' }}
    {{ render '@topicbox--4' }}
    <h2 class="c-home-subheading">Communications</h2>
    {{ render '@topicbox--4' }}
    {{ render '@topicbox--4' }}
    {{ render '@topicbox--4' }}
    {{ render '@topicbox--4' }}
    <h2 id="employee" class="c-home-subheading">Human Resources</h2>
    {{ render '@topicbox--5' }}
    {{ render '@topicbox--5' }}
    {{ render '@topicbox--5' }}
    {{ render '@topicbox--5' }}
  </main>
  {{ render '@footer' }}
</div>
