<div class="t-interior-with-nav">
  <header>
    {{ render '@skipnav' }}
    {{ render '@header-logo' }}
  </header>
  {{ render '@breadcrumb' }}
  <aside class="t-interior__nav">
    {{ render '@interiornav' }}
  </aside>
  <main id="maincontent">
    {{ render '@content' }}
  </main>
  <aside class="t-interior__postdate">
    {{ render '@postdate' }}
  </aside>
  {{ render '@footer' }}
</div>
