<div class="t-interior-related-links">
  <header>
    {{ render '@skipnav' }}
    {{ render '@header' }}
  </header>
  {{ render '@breadcrumb' }}
  <aside>
    {{ render '@relatedlinks' }}
  </aside>
  <main id="maincontent">
    {{ render '@content' }}
  </main>
  {{ render '@postdate' }}
  {{ render '@footer' }}
</div>
