<div class="t-interior-no-nav">
  <header>
    {{ render '@skipnav' }}
    {{ render '@header' }}
  </header>
  {{ render '@breadcrumb' }}
  <main id="maincontent">
    {{ render '@content' }}
  </main>
  {{ render '@postdate' }}
  {{ render '@footer' }}
</div>
