<div class="t-media-feature">
  <header>
    {{ render '@skipnav' }}
    {{ render '@header' }}
  </header>
  {{ render '@breadcrumb' }}
  <main id="maincontent">
    <h1>CDL All Staff Meeting</h1>
    {{ render '@vimeo-full-width' }}
  </main>
  {{ render '@footer' }}
</div>
