<h1>Order Request Process</h1>

<h2>{{ content.heading1 }} </h2>

<p>{{ content.paragraph1 }}</p>

<p>
  <strong>
    <a href="">Shop UCOP</a>
  </strong>
</p>

{{ render '@blockquotes' }}

<p>
  <em>
    <a href="">Download Document</a>
  </em>
</p>

<h2>{{ content.heading2 }} </h2>

<p>{{ content.paragraph2 }} For more information, please visit <a href="https://www.ucop.edu/ucoplearningcenter/">https://www.ucop.edu/ucoplearningcenter/</a></p>

<ol>
  <li>{{ content.words1 }}</li>
  <li>{{ content.words2 }}</li>
  <li>{{ content.words3 }}</li>
</ol>

<p>{{ content.paragraph3 }} <a href="https://www.ucop.edu/safety-and-loss-prevention/ucop-safety-risk/ergonomics/index.html">https://www.ucop.edu/safety-and-loss-prevention/ucop-safety-risk/ergonomics/index.html</a></p>

{{ render '@downloads' }}

<h3>{{ content.heading3 }} </h3>

<p>{{ content.paragraph4 }} Please email: <a href="mailto:{{ content.email }}">{{ content.email }}</a> to begin the process.</p>

<h2>{{ content.heading4 }} </h2>

{{ render '@tables' }}

<p>{{{ content.paragraph5 }}}</p>

{{ render '@process' }}

<h2 class="c-instruction">{{ content.heading5 }} </h2>

{{ render '@details' }}

<p>{{{ content.paragraph6 }}}</p>
