<details class="c-details js-details">
  <summary>{{ details.summary1 }}</summary>
  <div class="c-details__content">
    <p>{{{ details.content1 }}}</p>
  </div>
</details>
<details class="c-details js-details">
  <summary>{{ details.summary2 }}</summary>
  <div class="c-details__content">
    <p>{{{ details.content2 }}}</p>
  </div>
</details>
<details class="c-details js-details">
  <summary>{{ details.summary3 }}</summary>
  <div class="c-details__content">
    <p>{{{ details.content3 }}}</p>
  </div>
</details>
